.hover_border:hover{
    -fx-border_color: transparent;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-background-color: #9999FF;

}
.root{
    -fx-background-color: LemonChiffon;
}
.img{
    -fx-border_color: transparent;
}
#leftPane {
    -fx-background-color: DodgerBLue;
}
#myWebView {
    -fx-border_color: Navy;
    -fx-background-color: LightBlue;
}

